# --- Core AI & Environment ---
google-genai
python-dotenv

# --- Itinerary File Parsers ---
PyMuPDF
python-docx

# --- Web & API Integration,  fastapi & uvicorn ---
requests
streamlit

# --- Project Utilities ---
from_root
-e .